<h1>Editing expenditure type</h1>

<%= render "form", expenditure_type: @expenditure_type %>

<br>

<div>
  <%= link_to "Show this expenditure type", @expenditure_type %> |
  <%= link_to "Back to expenditure types", expenditure_types_path %>
</div>
